*/__pycache__
*.log
MANIFEST
build
dist
.pypirc
*.pyc
.pyc
quick_trade.egg-info
.DS_Store
*.dat
/__pycache__
/*__pycache__
**/__pycache__
*__pycache__
**__pycache__
__pycache__/
*.py[cod]
examples/walkforward_validation.py
